<mat-toolbar class="header" color="primary"><h1>balNEO</h1></mat-toolbar>

<mat-card class="premierform">
<mat-card-title >Equipage</mat-card-title>
<mat-card-content>

  <div *ngFor="let policier of policiers ; index as i">
    <p>
      Policier {{ i + 1 }}:<br />
      Nom: {{policier.nom}} <br />
      Prénom: {{policier.prenom}}<br />
      Grade: {{policier.grade | slice:2:20}}<br />
      <button color="primary" mat-raised-button (click)="modifier_policier(i)">Modifier</button> <button color="primary" mat-raised-button  (click)="supprimer_policier(i)" >Supprimer</button>
    </p>
  </div>


  <p #targetPolicier>
    <mat-form-field >
      <input matInput placeholder="Prénom" type="text" [(ngModel)]="prenom_policier">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
      <input matInput placeholder="Nom" type="text" [(ngModel)]="nom_policier">
    </mat-form-field>
  </p>
  <p>
  <mat-form-field>
  <mat-select placeholder="Grade" [(ngModel)]="grade_policier">
    <mat-option value="7 GPX">GPX</mat-option>
    <mat-option value="6 Bier">Bier</mat-option>
    <mat-option value="5 Bier Chef">Bier Chef</mat-option>
    <mat-option value="4 Major">Major</mat-option>
    <mat-option value="3 Lieutenant">Lieutenant</mat-option>
    <mat-option value="2 Capitaine">Capitaine</mat-option>
    <mat-option value="1 Commandant">Commandant</mat-option>
  </mat-select>
</mat-form-field>
  </p>


  <button color="primary" mat-raised-button (click)="ajouter_policier(targetPolicier)">Ajouter à l'équipage</button>

</mat-card-content>

</mat-card>

<mat-card>
<mat-card-title>Appel</mat-card-title>
<mat-card-content>

  <p>
    <mat-form-field>
      <mat-select placeholder="Appelé par" [(ngModel)]="appel.appelant">
        <mat-option value="TNF">TNF</mat-option>
        <mat-option value="Requérant">Requérant</mat-option>
        <mat-option value="Pompiers">Pompiers</mat-option>
        <mat-option value="VHF">VHF</mat-option>
        <mat-option value="Ronde">Ronde</mat-option>
      </mat-select>
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Heure"  [(ngModel)]="appel.heure" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
</mat-form-field>




  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Lieu" type="text" [(ngModel)]="appel.lieu">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Baigneurs signalés" type="number" [(ngModel)]="appel.nb_baigneurs">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Nom de la vedette" type="text" [(ngModel)]="appel.nom_vedette">
    </mat-form-field>
  </p>

</mat-card-content>
</mat-card>


<mat-card>
<mat-card-title>Sur place</mat-card-title>
<mat-card-content>


  <p>
    <mat-form-field>
        <input matInput placeholder="Heure"  [(ngModel)]="surplace.heure" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
        <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Lieu d'interpellation" type="text" [(ngModel)]="surplace.lieu">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Baigneurs interpelés" type="number" [(ngModel)]="surplace.nb_baigneurs">
    </mat-form-field>
  </p>


</mat-card-content>
</mat-card>


<mat-card>
<mat-card-title>Individus controlé</mat-card-title>
<mat-card-content>

  <p *ngFor="let interpel of interpels; index as i">


      Individus : {{i+1}}<br />
      Type de document : <span *ngIf="type_doc == 'carte identite'">Carte d'identité</span> <span *ngIf="type_doc != 'carte identite'">{{interpel.type_doc}}</span> <br />
      Numéro ID du document : {{ interpel.num_doc }}<br />
      Nom : {{interpel.nom}}<br />
      Prénom : {{interpel.prenom}}<br />
      Date de naissance : {{interpel.date_naissance | date: 'dd/MM/yyyy'}}<br />
      Lieu de naissance : {{interpel.lieu_naissance}}<br />
      Téléphone : {{interpel.tel}}<br />
      Adresse : {{interpel.adresse}}<br />
      Ville : {{interpel.ville}}<br />
      Code Postal : {{interpel.code_postal}}<br />
      Recherché : {{interpel.recherche_interpel}}
      <span *ngIf="interpel.recherche == 'true'">Oui</span> <span *ngIf="interpel.recherche == 'false'">non</span> <br />
      <span *ngIf="interpel.recherche == 'true'">Information de recherche: {{interpel.infos_recherche}}</span><br />
      <button color="primary" mat-raised-button (click)="supprimer_interpel(i)">Supprimer</button> <button color="primary" mat-raised-button (click)="modifier_interpel(i)">Modifier</button><br />
    </p>




  <p #targetInterpel>
      <mat-form-field>
      <mat-select placeholder="Document d'identité" [(ngModel)]="type_doc_interpel">
        <mat-option value="carte identite">Carte d'identité</mat-option>
        <mat-option value="passeport">Passeport</mat-option>
        <mat-option value="permis">Permis</mat-option>
        <mat-option value="carte vitale">Carte vitale</mat-option>
        <mat-option value="identité verbale">Identité verbale</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Numéro ID du document" type="text" [(ngModel)]="num_doc_interpel">
    </mat-form-field>
  </p>

<p>
  <mat-form-field >
   <input matInput placeholder="Nom" type="text" [(ngModel)]="nom_interpel">
  </mat-form-field>
</p>


<p>
  <mat-form-field >
   <input matInput placeholder="Prénom" type="text" [(ngModel)]="prenom_interpel">
  </mat-form-field>
</p>

  <p>
      <mat-form-field>
        <input  matInput placeholder="Date de naissance" [matDatepicker]="picker" [(ngModel)]="date_naissance_interpel" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker startView="multi-year" disabled="false"></mat-datepicker>
      </mat-form-field>
  </p>

  <p >
    <mat-form-field>
     <input matInput placeholder="Lieu de naissance" type="text" [(ngModel)]="lieu_naissance_interpel">
    </mat-form-field>
  </p>


  <p>
    <mat-form-field >
     <input matInput placeholder="Téléphone" type="tel" [(ngModel)]="tel_interpel">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Adresse" type="text" [(ngModel)]="adresse_interpel">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Ville" type="text" [(ngModel)]="ville_interpel">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field >
     <input matInput placeholder="Code Postal" type="number" [(ngModel)]="code_interpel">
    </mat-form-field>
  </p>

<p>
  Recherché ?
  <mat-radio-group [(ngModel)]="recherche_interpel">
    <mat-radio-button value= "true" >Oui</mat-radio-button>
    <mat-radio-button value= "false" >Non</mat-radio-button>
  </mat-radio-group>
</p>

<p>
    <span *ngIf="recherche_interpel == 'true' ">
    <mat-form-field>
      <textarea matInput placeholder="Information complementaire" [(ngModel)]="infos_recherche"></textarea>
    </mat-form-field>
    </span>
</p>

  <button color="primary" mat-raised-button (click)="ajouter_interpel(targetInterpel)">Ajouter l'individu</button>

</mat-card-content>
</mat-card>

<mat-card>
<mat-card-title >Informations circonstancielles</mat-card-title>
<mat-card-content>

<mat-form-field style="width: 300px;">
<textarea  matInput placeholder="Informations sur le déroulement du controle" matTextareaAutosize matAutosizeMinRows="4" [(ngModel)]="surplace.infos_complementaires"></textarea>
</mat-form-field>




</mat-card-content>

</mat-card>





<div >
  <table #apercu_pvblanc border="1" cellpadding="10">


          <tr>
            <td style="text-align:center;" width="15%">
              <p>DESTINATAIRE</p>
              <p>TRIBUNAL DE POLICE<br /> DE PARIS</p>
            </td>
            <td width="70%" >

            </td>
            <td style="text-align:center;"width="15%">
              <p>RESERVE AU PARQUET</p>
            </td>
          </tr>
          <tr>
            <td valign="top" style="text-align:center;font-size:13px;">
              <p><b>REPUBLIQUE FRANCAISE<br />MINISTERE DE L'INTERIEUR</b></p>
              <p><b>DIRECTION GENERALE<br /> DE LA POLICE NATIONALE</b></p>
              <hr width="50%"/>
              <p><b>S.D.U.S.S.O-S.U.O-Brigade Fluviale</b></p>
              <hr width="50%"/>
              <p>PV : {{ date | date: 'yyyy'}} / __ / 001</p>
            </td>
            <td colspan="2">
              <h1 style="margin-left : 60px;">PROCES VERBAL</h1>



              <p>L'an {{ annee }},</p>
              <p>Le {{jour + " " + mois}} à {{heure}} heures et {{minutes}} minutes</p>

              <p>Nous,</p>


              <div *ngFor="let policier of policiers | orderBy : 'grade' ; index as i">
                <p *ngIf="i == 1">Assisté du:</p>
              <p> <span *ngIf="i>0"> -</span> {{ policier.grade | slice:2:20 }} - {{ policier.nom | uppercase}} {{ policier.prenom | titlecase}}</p></div>

              <p>Gardien de la paix en fonction à la brigade fluviale de PARIS</p>

              <p>Agent de Police Judiciaire en résidence à PARIS</p>
              <p>Étant au service</p>
              <p>Agissant conformément aux instructions reçues de Mme XXXXXXX XXXXXXX, Commandant de Police, Officier de Police Judiciaire territorialement compétent, Chef du Service de la Brigade Fluviale de Paris.</p>

              <p>   <span [ngSwitch]="appel.appelant">
                      <span *ngSwitchCase="'TNF'">Sommes requis par notre station directrice « TNF »</span>
                      <span *ngSwitchCase="'Requérant'"> Un requérant nous informes </span>
                      <span *ngSwitchCase="'Pompiers'">Sommes contacté par les pompiers</span>
                      <span *ngSwitchCase="'VHF'">Sommes requis par notre radio « VHF »</span>
                      <span *ngSwitchCase="'Ronde'">Nous observons lors d'une ronde</span>


                </span> à {{ this.translate_heure(appel.heure | date: 'H') }} heures {{ this.translate_heure(appel.heure | date:'mm') }} minutes pour {{ appel.nb_baigneurs }} <span *ngIf="appel.nb_baigneurs == 1; else condition_baigneurs1">baigneur</span> <ng-template #condition_baigneurs1><span>baigneurs</span></ng-template> en Seine à {{appel.lieu | titlecase}}.</p>


              <p>Revêtus de nos tenues d’uniformes réglementaires et insignes apparents à notre fonction.</p>
              <p>Nous transportons sur place à bord de la vedette « {{appel.nom_vedette | uppercase }} »<br />
                 où étant à {{ this.translate_heure(surplace.heure | date: 'HH') }} heures {{ this.translate_heure(surplace.heure | date: 'mm') }} minutes à {{surplace.lieu}}, <br />
                 sommes en présence de {{surplace.nb_baigneurs}} <span *ngIf="surplace.nb_baigneurs == 1; else condition_baigneurs3">individu mouillé</span> <ng-template #condition_baigneurs3><span>individus mouillés</span></ng-template> .</p>



                 <p>{{surplace.infos_complementaires}}</p>
      <!--        <p>Mettons pied à terre et prenons contact avec   <span *ngIf="surplace.nb_baigneurs == 1; else condition_baigneurs2">l'individu qui nous déclare s'être jeté</span> <ng-template #condition_baigneurs2> <span> les individus qui nous déclarent s'être jetés</span></ng-template> à l’eau volontairement.</p>
              <p>Palpé, <span *ngIf="surplace.nb_baigneurs == 1; else condition_baigneurs4">l'individu n'est porteur d’aucun objet dangereux pour lui ou pour autrui</span> <ng-template #condition_baigneurs4> <span> les individus ne sont trouvés porteur d’aucun objet dangereux pour eux ou pour autrui</span></ng-template>.</p> -->

              <div *ngFor="let interpel of interpels; index as i">
                <p>
                  Le {{i+1}}<span *ngIf="i+1 == 1">er</span><span *ngIf="i+1 > 1">eme</span> individus nous  <span [ngSwitch]="interpel.type_doc">
                          <span *ngSwitchCase="'carte identite'">présente sa carte d'identité supportant sa photographie de numéro {{ interpel.num_doc }}</span>
                          <span *ngSwitchCase="'passeport'">présente son passeport supportant sa photographie de numéro {{ interpel.num_doc }}</span>
                          <span *ngSwitchCase="'permis'">présente son permis supportant sa photographie de numéro {{ interpel.num_doc }}</span>
                          <span *ngSwitchCase="'carte vitale'">présente sa carte vitale supportant sa photographie de numéro {{ interpel.num_doc }}</span>
                          <span *ngSwitchCase="'identité verbale'">donne son identité verbalement</span>

                    </span> supportant sa photographie au nom de {{interpel.nom | uppercase}} {{interpel.prenom | titlecase}} né le {{interpel.date_naissance | date: 'dd/MM/yyyy'}} à {{interpel.lieu_naissance | titlecase}} demeurant {{interpel.adresse}}, {{interpel.ville | titlecase}} {{interpel.code_postal}} Téléphone: {{interpel.tel}} <span *ngIf="interpel.recherche == 'true'">L'individu est recherché : {{interpel.infos_recherche}}</span><br />
                </p>
                <p>Relevons à l'encontre de {{interpel.nom | uppercase}} {{interpel.prenom | titlecase}} l'infraction  suivante: Baignade interdite en seine,</p>
                <p>Prévue par l’ordonnance du préfet de Police du 17 avril 1923 et réprimée par l’article R610-5 du Code Pénal, contravention de classe 1, Natinf 6032.</p>
              </div>


            </td>
          </tr>
        </table>
      </div>

<p style="color:red;font-weight:bold;font-size : 1.3em;font-family:arial">{{ erreur_envoi }}</p>

<p>
<button color="primary" mat-raised-button type="button" (click)="envoi(apercu_pvblanc)">Envoyer</button>
</p>
